*{
  box-sizing: border-box;
  margin: 0;
 
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.nav-item{
  margin-right: 20px;

}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}
.main{
  height: 60vh;
  color: rgb(0, 2, 62);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.footer{
  height: 20vh;
  color: rgb(0, 2, 62);
}



.contact-btn{
  height: 70px;
  width: 100px;
  background-color: rgb(82, 82, 96);
  color: #fff;
  border-radius: 10px;
  border-style: none;
  text-decoration: none;
  padding: 11px;
  margin-top: 25%;
  text-align: center;
}
.contact-btn:hover{

  background-color: rgb(191, 191, 191);
  color: #2a2a2a;
  cursor: pointer;
 
}