*{
  box-sizing: border-box;
  margin: 0;
 
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}
.nav{
  display: flex;
  justify-content: end;
  align-items: center;
  color: rgb(0, 2, 62);
   height: 12vh;

}
.nav-item{
  margin-right: 20px;

}
.main{
  height: 50vh;
  color: rgb(0, 2, 62);
}

.footer{
  height: 20vh;
  color: rgb(0, 2, 62);
}