:root{
    /* colors */
    --color-text:#fff;
    --color-primary:#58faba;
    --color-sec:#333;
    --color-dark:#000;
    --color-bg: rgb(0, 2, 62);    /* fonts */
    --font-roboto:"Roboto";
    
}